<ion-view view-title="Calendar" ng-controller="CalendarController">
  <ion-content>
    <h1>Calendar</h1>
    <button ng-click="openDatePickerTwo()">Calendar</button>

    <!-- <div ng-controller="CalendarController as vm">
      <h2 class="text-center">{{ vm.calendarTitle }}</h2>
    
      <div class="row">
    
    <div class="col-xs-12 col-md-12 text-center">
      <div class="">
        <label class="btn btn-arrow" ng-model="vm.calendarView" uib-btn-radio="'month'">Month</label>
        <button
          class="btn btn-arrow"
          mwl-date-modifier
          date="vm.viewDate"
          decrement="vm.calendarView"><i class="fa fa-angle-left"></i>
        </button>
        <button
          class="btn" style="background:#eee; color: #43BF87;"
          mwl-date-modifier
          date="vm.viewDate"
          set-to-today>
          {{vm.calendarTitle}}
        </button>
        <button
          class="btn btn-arrow"
          mwl-date-modifier
          date="vm.viewDate"
          increment="vm.calendarView"><i class="fa fa-angle-right"></i>
        </button>
        <label class="btn btn-arrow" ng-model="vm.calendarView" uib-btn-radio="'day'">Day</label>
      </div>
      <div class="label-ladder">
        <div class="event-home"></div> Home
        <div class="event-way"></div> Way
      </div>
    </div>
    
    <br class="visible-xs visible-sm">
    
      </div>
    
      <br>
    
      <mwl-calendar
    events="vm.events"
    view="vm.calendarView"
    view-title="vm.calendarTitle"
    view-date="vm.viewDate"
    on-event-click="vm.eventClicked(calendarEvent)"
    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    on-edit-event-click="vm.eventEdited(calendarEvent)"
    on-delete-event-click="vm.eventDeleted(calendarEvent)"
    cell-is-open="vm.isCellOpen"
    day-view-start="06:00"
    day-view-end="22:00"
    day-view-split="30"
    cell-modifier="vm.modifyCell(calendarCell)">
      </mwl-calendar>
    
      <br><br><br>
    
      
    </div> -->

  </ion-content>
</ion-view>
