<ion-view view-title="Detail News" ng-controller="NewsDetailController">
    <ion-content class="footer-bottom">
        <div>
            <h2 class="titledetail" ng-bind="Title"></h2>
            <div class="lastupdate">
                <span>Last Updated :</span>
                <span ng-bind="Post_Date"></span>
            </div>
            <div class="share">
                <i class="icon ion-social-facebook"></i>
                <i class="icon ion-social-twitter"></i>
                <i class="icon ion-social-googleplus"></i>
            </div>
            <img src="img/kyle1.jpg" width="100%" href="#">
            <div class="item item-divider">
                <p class="decrip">Kyle Walker is relishing the chance to finally play at a major finals tournament after missing out twice before</p>
            </div>

            <h3 class="detail1">Kyle Walker admits he appreciates his involvement at Euro 2016 more having come through some hard times to finally make it to his first major tournament.</h3>
            <p class="detail2">
                The Tottenham right-back has made just 16 appearances for England despite making his debut his country five years ago.</p>
            <p class="detail2">
                A toe injury kept him out of Euro 2012 while a pelvic problem meant he also missed the World Cup in Brazil two years ago.</p>
            <p class="detail2">
                Now he has finally made it beyond a preliminary programme and could start England's opening game against Russia on Saturday at right-back.</p>
            <p class="detail2">
                Walker said: "Growing up I didn't have much so to come from where I have come from to here - and now - is a credit to my parents and myself. You always have to have faith in yourself.</p>
            <p class="detail2">
                "I have been unlucky with injuries, missing out on a Euros and a World Cup. It always seems to be that I pick them up at the wrong time when the tournaments are coming up.</p>
            <img src="img/kyle2.jpg" width="100%" href="#">
            <div class="item item-divider">
                <p class="decrip">Walker was England's man of the match in their most recent friendly against Portugal</p>
            </div>
            <p class="detail2">
                "I play countless games for Tottenham throughout the season, it might get too much at the end and I might pick up little niggles.
            </p>
            <p class="detail2">
                Walker is up against Liverpool's Nathaniel Clyne for the starting slot against Russia in Marseille.
            </p>
            <p class="detail2">
                "But it's a hurdle that I've come over and I think I've come out a stronger person and hopefully a better player after."
            </p>
            <p class="detail2">
                He played in only one qualifier - the last one against Lithuania - but has started three of England's last four friendlies.
            </p>
            <img src="img/kyle3.jpg" width="100%" href="#">
            <div class="item item-divider">
                <p class="decrip">Walker helped Tottenham to third place in the Premier League this season</p>
            </div>
            <p class="detail2">
                Walker is one of a number of Tottenham players in the squad, alongside Harry Kane, Dele Alli, Eric Dier and Danny Rose.</p>
            <p class="detail2">
                The 26-year-old thinks that's just reward for a good Premier League campaign which saw the White Hart Lane side achieve Champions League football under Mauricio Pochettino.</p>
            <p class="detail2">
                Walker added: "On paper, it's probably not the best Tottenham team that we've seen but for enthusiasm and work ethic it's definitely the best and it's a pleasure to play with them.</p>
            <img src="img/kyle4.jpg" width="100%" href="#">
            <div class="item item-divider">
                <p class="decrip">Walker could join Tottenham team-mates Dele Alli (left) and Harry Kane in the England side</p>
            </div>
            <p class="detail2">
                "We had that question all year at Tottenham 'could we handle the pressure?' and I think we did. We've been playing well.</p>
            <p class="detail2">
                "We've got a fantastic manager who puts confidence into you and lets you go out and express yourself. I've really enjoyed this season playing with the players that we've got here as well.</p>
            <p class="detail2">
                "Of course it always helps to look around and see people you are familiar with. You know their weaknesses and strengths and obviously they know yours so it's obviously good."</p>

        </div>
    </ion-content>
</ion-view>