<ion-view view-title="Detail News" ng-controller="NewsDetailController">
    <ion-content class="footer-bottom">
        <div>
            <h2 class="titledetail" ng-bind="Title"></h2>
            <div class="lastupdate">
                <span>Last Updated :</span>
                <span ng-bind="Post_Date"></span>
            </div>
            <div class="share">
                <i class="icon ion-social-facebook"></i>
                <i class="icon ion-social-twitter"></i>
                <i class="icon ion-social-googleplus"></i>
            </div>
            
            <img src="img/thumbnews/{{ImageUrl}}" />
            <div ng-bind-html="Content"></div>

        </div>
    </ion-content>
</ion-view>