<ion-view view-title="Ladder">
  <ion-content>
    <h1 class="caption">OVERALL</h1>
    <div class="row title-ladder">
	  <div class="col">#</div>
	  <div class="col">team</div>
	  <div class="col">pts</div>
	  <div class="col">p</div>
	  <div class="col">w</div>
	  <div class="col">l</div>
	  <div class="col">d</div>
	</div>
	<div class="row ladder-content">
	  <div class="col logo" style="background-image: url('img/ladder/1.jpg');"><!-- t<img src="img/ladder/1.jpg" alt="" class="logo-ladder-team"> --><span>1</span></div>
	  <div class="col-20 team-name lineheight">
	  	<span class="short-name">xxx</span>
	  	<span>Indonesia</span>
	  </div>
	  <div class="col">125</div>
	  <div class="col">531</div>
	  <div class="col">421</div>
	  <div class="col">44</div>
	  <div class="col">150</div>
	</div>
  </ion-content>
</ion-view>
