<ion-view view-title="Team">
  <div class="background-team">    
      <img src="img/stadium2.jpg" class="image__background">
      <div class="col col-center image__gk">
        <img src="img/team/1.jpg" class="image__player--gk" ui-sref="app.detailplayer">
      </div>
      <div class="col col-center image__team4">
        <img src="img/team/1.jpg" class="image__player--team4">
        <img src="img/team/1.jpg" class="image__player--team4">
        <img src="img/team/1.jpg" class="image__player--team4">
        <img src="img/team/1.jpg" class="image__player--team4">
      </div>
      <div class="col col-center image__team3--row1">
        <img src="img/team/1.jpg" class="image__player--team3">
        <img src="img/team/1.jpg" class="image__player--team3">
        <img src="img/team/1.jpg" class="image__player--team3">
      </div>
      <div class="col col-center image__team3--row2">
        <img src="img/team/1.jpg" class="image__player--team3">
        <img src="img/team/1.jpg" class="image__player--team3">
        <img src="img/team/1.jpg" class="image__player--team3">
      </div> 
  </div>
</ion-view>
