<div class="col col-center">
	<div class="list__infoplayer row">
		<div class="col col-30 clubtab__image">
			<label class="clubtab__image--label">Arsenal</label>
			<div>
				<img src="img/club/Arsenal.png" class="clubtab__image--img">
			</div>
		</div>
		<div class="col col-70 detailcontent">
			<div class="detailcontent__right">
				<label class="label__detail--left label__detail">Height:</label>
				<label class="label__detail">172cm</label>
			</div>
			<div class="detailcontent__right">
				<label class="label__detail--left label__detail">Age:</label>
				<label class="label__detail">26</label>
			</div>
			<div class="detailcontent__right">
				<label class="label__detail--left label__detail">Weight:</label>
				<label class="label__detail">68kg</label>
			</div>
			<div class="detailcontent__right">
				<label class="label__detail--left label__detail">Foot:</label>
				<label class="label__detail">R</label>
			</div>
			<div class="detailcontent__right">
				<label class="label__detail--left label__detail">Cost:</label>
				<label class="label__detail">3000&#163</label>
			</div>
			<div class="detailcontent__right row">
				<label class="label__detail--left label__detail">National:</label>
				<label class="flag-international">
					<img src="img/flag/USA.png" alt="" class="flag-img">
				</label>
			</div>
		</div>
	</div>	
</div>
<div class="col col-center position__background">
	<div class="list__infoplayer--under row possition__content">
		<div class="col col-30">				
				<div class="col row content__pos--left">
					<label class="icon ion-ios-pricetag icon__pos--red"></label>
					<label class="label__detail">Fw</label>
				</div>
				<div class="col row content__pos--left">
					<label class="icon ion-ios-football icon__pos"></label>
					<label class="label__detail">365</label>
				</div>
				<div class="col row content__pos--left">
					<label class="fa fa-eraser icon__pos--red"></label>
					<label class="label__detail">15</label>
				</div>
				<div class="col row content__pos--left">
					<label class="fa fa-eraser icon__pos--yellow"></label>
					<label class="label__detail">15</label>
				</div>
		</div>
		<div class="col col-30">				
				<div class="col row content__pos--left">
					<label class="icon ion-arrow-graph-up-right icon__pos--green"></label>
					<label class="label__detail">100%</label>
				</div>
				<div class="col row content__pos--left">
					<label class="fa fa-heartbeat icon__pos--red"></label>
					<label class="label__detail">Good</label>
				</div>
				<div class="col row content__pos--left">
					<label class="icon ion-star icon__pos--yellow"></label>
					<label class="label__detail">5</label>
				</div>
				<div class="col row content__pos--left">
					<label class="icon ion-trophy icon__pos--gray"></label>
					<label class="label__detail">10</label>
				</div>
		</div>
		<div class="col col-40">
			<div class="number__shirt">
				<img src="img/clubtshirt.png" class="clubtab__image--imgshirt">
				<div class="number__shirt--number">
					<span class="number__shirt--span">17</span>
				</div>
			</div>
			
		</div>
	</div>	
</div>


